/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background: var(--hero-background-image) center bottom / cover no-repeat;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--accent-background-color);
  background-attachment: fixed;
  transition: 0.5s;
}

.title-decor {
  color: var(--title-h3-color);
  line-height: 1.3;
  background-color: var(--title-background-color);
}

.header__theme-menu-button:focus,
.card__link:focus {
  border: none;
  outline: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0px 1fr min-content 1fr;
  margin-block-end: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  block-size: 100dvh;
}

.decorated-zone,
.decoration-rec {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  border-top: 1px solid var(--menu-color);
  border-right: 1px solid var(--menu-color);
}

.decorated-zone::before {
  bottom: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  left: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  border-bottom: 1px solid var(--menu-color);
  border-left: 1px solid var(--menu-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px;
  color: var(--menu-color);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.title {
  color: var(--title-h1-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--title-h1-text-shadow-color);
}
.header__text {
  justify-self: end;
  align-self: center;
  max-inline-size: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
}

/* main */

.section {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: clamp(0.625rem, 3.125rem + -3.9063vw, 1.25rem);
  margin-block-end: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
  padding-inline: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.section:last-child {
  margin-block-end: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

.section__title {
  margin-block-end: 20px;
  color: var(--title-h2-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__title {
  margin-block-end: 10px;
  font-weight: 700;
  font-size: 18px;
}

.card__list {
  margin-block-start: 20px;
}
.card__item:not(:last-child) {
  margin-block-end: 20px;
}
.card__item-title {
  margin-block-end: 10px;
  font-weight: 400;
}

.card__text {
  color: var(--main-text-color);
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--title-background-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.card__link:focus-visible {
  border: 1px solid var(--main-text-color);
}

/* gallery */

.gallery__title {
  margin-block-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  font-size: 18px;
}

.gallery__content {
  display: grid;
  gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.gallery__image {
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
  inline-size: 100%;
  block-size: 100%;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100dvh;
}

.footer__title {
  text-shadow: 2px 2px 0px var(--title-h1-text-shadow-color);
}

@media (width >= 768px) {
  .header__title {
    margin-inline-start: -20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .concentrate {
    grid-template-columns: 1fr 2fr;
  }

  .concentration {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr;
  }

  .concentration .section__content {
    display: grid;
    grid-column: 1 / -1;
  }

  .gallery__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__picture:nth-of-type(1) {
    grid-column: span 2;
  }

  .gallery__picture:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery__picture:nth-of-type(3) {
    grid-row: span 2;
  }

  .gallery__picture:nth-of-type(4) {
    grid-column: span 1;
  }

  .gallery__picture:nth-of-type(5) {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    z-index: 1;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .concentration .section__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@keyframes rec {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
